@import 'tailwindcss';

@theme {
  /* COLOR PALETTE*/
  --color-*: initial;

  --color-accent-50: oklch(97.89% 0.001 106.42);
  --color-accent-100: oklch(95.76% 0.003 106.45);
  --color-accent-200: oklch(91.37% 0.007 115.71);
  --color-accent-300: oklch(86.18% 0.01 106.6);
  --color-accent-400: oklch(80.18% 0.014 106.71);
  --color-accent-500: oklch(72.68% 0.02 110.2);
  --color-accent-600: oklch(64.73% 0.026 109.7);
  --color-accent-700: oklch(58.73% 0.025 109.9);
  --color-accent-800: oklch(52.24% 0.023 110.28);
  --color-accent-900: oklch(41.58% 0.018 111.39);
  --color-accent-950: oklch(31.07% 0.012 107.09);

  --color-primary-50: oklch(96.84% 0.003 48.72);
  --color-primary-100: oklch(93.66% 0.005 48.68);
  --color-primary-200: oklch(86.06% 0.011 45.7);
  --color-primary-300: oklch(78.83% 0.018 50.38);
  --color-primary-400: oklch(70.59% 0.025 48.35);
  --color-primary-500: oklch(62.14% 0.033 47.09);
  --color-primary-600: oklch(54.48% 0.032 49.27);
  --color-primary-700: oklch(45.55% 0.026 51.11);
  --color-primary-800: oklch(35.93% 0.02 48.15);
  --color-primary-900: oklch(26.84% 0.013 41.64);
  --color-primary-950: oklch(21.42% 0.009 43.07);

  --color-secondary-50: #fafafa;
  --color-secondary-100: #f5f5f5;
  --color-secondary-200: #ebebeb;
  --color-secondary-300: #e0e0e0;
  --color-secondary-400: #d1d1d1;
  --color-secondary-500: #bfbfbf;
  --color-secondary-600: #b0b0b0;
  --color-secondary-700: #999999;
  --color-secondary-800: #7d7d7d;
  --color-secondary-900: #5e5e5e;
  --color-secondary-950: #404040;

  --color-error-50: oklch(97.14% 0.011 31.07);
  --color-error-100: oklch(94.59% 0.023 31.1);
  --color-error-200: oklch(87.35% 0.054 31.02);
  --color-error-300: oklch(79.5% 0.093 31.57);
  --color-error-400: oklch(69.98% 0.147 32.64);
  --color-error-500: oklch(55.82% 0.187 33.16);
  --color-error-600: oklch(51.52% 0.172 33.2);
  --color-error-700: oklch(46.66% 0.155 33.06);
  --color-error-800: oklch(40.94% 0.133 33.12);
  --color-error-900: oklch(31.82% 0.098 33.2);
  --color-error-950: oklch(27.59% 0.082 33.66);

  /* TEXT */
  --font-*: initial;
  --text-*: initial;
  --font-weight-*: initial;

  /* TEXT | FONT */

  --font-display: var(--font-display);
  --font-copy: var(--font-copy);
  --font-logo: var(--font-logo);

  /* TEXT | WEIGHT */

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  /* TEXT | TYPESCALE */
  /* @link https://utopia.fyi/type/calculator?c=320,20,1.25,1120,23.99,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --text-xs: clamp(0.8rem, 0.7825rem + 0.0876vw, 0.8438rem);
  --text-sm: clamp(1rem, 0.9501rem + 0.2496vw, 1.1248rem);
  --text-base: clamp(1.25rem, 1.1503rem + 0.4988vw, 1.4994rem);
  --text-lg: clamp(1.5625rem, 1.388rem + 0.8723vw, 1.9987rem);
  --text-xl: clamp(1.9531rem, 1.6687rem + 1.4222vw, 2.6642rem);
  --text-2xl: clamp(2.4414rem, 1.9974rem + 2.22vw, 3.5514rem);
  --text-3xl: clamp(3.0518rem, 2.3788rem + 3.3645vw, 4.734rem);
  --text-4xl: clamp(3.8147rem, 2.8164rem + 4.9915vw, 6.3105rem);
  --text-5xl: clamp(4.7684rem, 3.311rem + 7.2869vw, 8.4118rem);

  /* SPACING */

  /* @link https://utopia.fyi/space/calculator?c=320,20,1.25,1120,23.99,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7|8|10,s-l&g=s,l,xl,12 */

  --spacing-3xs: clamp(0.3125rem, 0.2875rem + 0.125vw, 0.375rem);
  --spacing-2xs: clamp(0.625rem, 0.575rem + 0.25vw, 0.75rem);
  --spacing-xs: clamp(0.9375rem, 0.8625rem + 0.375vw, 1.125rem);
  --spacing-sm: clamp(1.25rem, 1.15rem + 0.5vw, 1.5rem);
  --spacing-md: clamp(1.875rem, 1.725rem + 0.75vw, 2.25rem);
  --spacing-lg: clamp(2.5rem, 2.3rem + 1vw, 3rem);
  --spacing-xl: clamp(3.75rem, 3.45rem + 1.5vw, 4.5rem);
  --spacing-2xl: clamp(5rem, 4.6rem + 2vw, 6rem);
  --spacing-3xl: clamp(7.5rem, 6.9rem + 3vw, 9rem);
  --spacing-4xl: clamp(8.75rem, 8.05rem + 3.5vw, 10.5rem);
  --spacing-5xl: clamp(10rem, 9.2rem + 4vw, 12rem);
  --spacing-6xl: clamp(12.5rem, 11.5rem + 5vw, 15rem);

  /* One-up pairs */
  --spacing-3xs-2xs: clamp(0.3125rem, 0.1375rem + 0.875vw, 0.75rem);
  --spacing-2xs-xs: clamp(0.625rem, 0.425rem + 1vw, 1.125rem);
  --spacing-xs-sm: clamp(0.9375rem, 0.7125rem + 1.125vw, 1.5rem);
  --spacing-sm-md: clamp(1.25rem, 0.85rem + 2vw, 2.25rem);
  --spacing-md-lg: clamp(1.875rem, 1.425rem + 2.25vw, 3rem);
  --spacing-lg-xl: clamp(2.5rem, 1.7rem + 4vw, 4.5rem);
  --spacing-xl-2xl: clamp(3.75rem, 2.85rem + 4.5vw, 6rem);
  --spacing-2xl-3xl: clamp(5rem, 3.4rem + 8vw, 9rem);
  --spacing-3xl-4xl: clamp(7.5rem, 6.3rem + 6vw, 10.5rem);
  --spacing-4xl-5xl: clamp(8.75rem, 7.45rem + 6.5vw, 12rem);
  --spacing-5xl-6xl: clamp(10rem, 8rem + 10vw, 15rem);

  /* SIZING */
  --container-content: clamp(320px, 0px + 100vw, 1120px);

  /* ANIMATIONS */
  --animate-fade-in: fade-in 0.5s ease-in 1;
  --animate-go: go 1s ease-in infinite;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes go {
    0%,
    100% {
      translate: 0 0;
    }
    50% {
      translate: var(--spacing-3xs) 0;
    }
  }
}

@layer base {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns:
      [full-bleed-start] minmax(var(--spacing-md), 1fr)
      [content-start]
      repeat(12, minmax(0, calc(var(--container-content) / 12)))
      [content-end]
      minmax(var(--spacing-md), 1fr) [full-bleed-end];
    align-content: start;
    min-height: 100svh;
    color: var(--color-primary-900);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-base);
    font-family: var(--font-copy);
    background-color: var(--color-primary-50);

    > header,
    > main,
    > footer {
      display: grid;
      grid-column: full-bleed;
      grid-template-columns: subgrid;
      scroll-behavior: smooth;

      > *:not([data-fullbleed]) {
        display: grid;
        grid-column: content;
        grid-template-columns: subgrid;
      }
    }

    [data-fullbleed] {
      display: grid;
      grid-column: full-bleed;
      grid-template-columns: subgrid;

      > *:not([data-fullbleed]) {
        display: grid;
        grid-column: content;
        grid-template-columns: subgrid;
      }
    }
    [data-full] {
      display: grid;
      grid-column: full-bleed;
      grid-template-columns: subgrid;

      > *:not([data-full]) {
        grid-column: content;
      }
    }
  }
}

@layer components {
  .img-placeholder {
    @apply max-h-200 min-h-40 max-w-200 min-w-60 bg-accent-800;
  }
}

@utility rich-text {
  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  h1 {
    font-weight: var(--font-weight-black);
    font-size: var(--text-2xl);
  }

  p {
    font-weight: var(--font-weight-normal);
    font-size: var(--text-sm);
    font-family: var(--font-copy);
  }
}

@utility flow-space {
  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@utility clip-path {
  clip-path: inset(0 0 0 0);
}

.richText {
  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  h1 {
    --flow-space: 0.15em;
    font-weight: var(--font-weight-black);
    font-size: var(--text-2xl);
    line-height: 1;
  }

  h2 {
    font-family: var(--font-display);
    line-height: 1.15;
    letter-spacing: 1.5;
    text-transform: uppercase;
  }

  p {
    font-weight: var(--font-weight-normal);
    font-size: var(--text-sm);
    font-family: var(--font-copy);
  }
}
[data-sticky] {
  display: grid;
  grid-template-columns:
    [full-bleed-start] minmax(var(--spacing-md), 1fr)
    [content-start]
    repeat(12, minmax(0, calc(var(--container-content) / 12)))
    [content-end]
    minmax(var(--spacing-md), 1fr) [full-bleed-end];
}
